---
---

@import "{{ site.theme }}";
.site-nav {
  margin-top: 20px;
}

.site-nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.site-nav a:hover {
  text-decoration: underline;
}